* {
    font-family: monospace;
}

body {
    background-color: mediumorchid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main *, footer * {
    padding: 10px;
    margin: 10px;
    font-weight: 600;
    font-size: 1rem;
    border: mediumvioletred solid 5px;
}

#guess-results {
    border: none;
}

button:hover {
    cursor: pointer;
}

#reset-button {
    display: none;
}

#wins-losses {
    background-color: mediumpurple;
    border-radius: 8px;
    margin: 30px auto 20px auto;
}

th, td {
    background-color: mediumorchid;
    font-size: 1.5rem;
    color: mediumspringgreen;
    border-radius: 8px;
}

#guess-results {
    font-size: 1.5rem;
    color: black;
}

input, button {
    border-radius: 8px;
    margin-bottom: 30px;
}

.time {
    font-size: 2rem;;
    width: 100px;
}

#timer-box * {
    border: none;
}

#timer-box {
    border:midnightblue solid 10px;
    border-radius: 20px;
    width:min-content;
    float: right;
}

#press-enter {
    border: none;
}